body{
    background-color: rgb(22, 39, 60);
}
.numbers{
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
 .card.left{
padding-left: 20px;} 
p{
    color:rgb(79, 73, 148);
}
.card-text{
    font-size: 50px;
}
/* .progress{
} */
.last{
    margin-bottom: 100px;
}